---
import Javascript from "../components/icons/habilidades/Javascript.astro";
import Css from "../components/icons/habilidades/Css.astro";
import Html from "../components/icons/habilidades/Html.astro";
import Layout from "../layouts/Layout.astro";
import Csharp from "../components/icons/habilidades/Csharp.astro";
import Git from "../components/icons/habilidades/Git.astro";
import Laravel from "../components/icons/habilidades/Laravel.astro";
import Linux from "../components/icons/habilidades/Linux.astro";
import Mongodb from "../components/icons/habilidades/Mongodb.astro";
import Mysql from "../components/icons/habilidades/Mysql.astro";
import Net from "../components/icons/habilidades/Net.astro";
import Node from "../components/icons/habilidades/Node.astro";
import Notion from "../components/icons/habilidades/Notion.astro";
import Npm from "../components/icons/habilidades/Npm.astro";
import Php from "../components/icons/habilidades/Php.astro";
import Postman from "../components/icons/habilidades/Postman.astro";
import React from "../components/icons/habilidades/React.astro";
import Tailwind from "../components/icons/habilidades/Tailwind.astro";
import Uml from "../components/icons/habilidades/Uml.astro";
import Vite from "../components/icons/habilidades/Vite.astro";
import AstroIcon from "../components/icons/habilidades/AstroIcon.astro";
import Vscode from "../components/icons/habilidades/Vscode.astro";

const skills = [
  { name: "JavaScript", component: Javascript },
  { name: "CSS", component: Css },
  { name: "HTML", component: Html },
  { name: "Tailwind CSS", component: Tailwind },
  { name: "React", component: React },
  { name: "Node.js", component: Node },
  { name: "Astro", component: AstroIcon },
  { name: "C#", component: Csharp },
  { name: ".NET", component: Net },
  { name: "PHP", component: Php },
  { name: "Laravel", component: Laravel },
  { name: "MySQL", component: Mysql },
  { name: "MongoDB", component: Mongodb },
  { name: "Linux", component: Linux },
  { name: "Git", component: Git },
  { name: "Vite", component: Vite },
  { name: "Postman", component: Postman },
  { name: "npm", component: Npm },
  { name: "VScode", component: Vscode },
  { name: "UML", component: Uml },
  { name: "Notion", component: Notion },
];
---

<Layout title="Habilidades">
  <main class="max-w-7xl mx-auto p-4">
    <div class="grid grid-cols-1 max-w-[1280px] mx-auto">
      <h1 class="font-bold text-5xl text-white">Habilidades</h1>
    </div>

    <section class="grid grid-cols-1 max-w-[1280px] mx-auto mt-10">
      <ul
        class="grid grid-cols-3 p-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7 gap-12 mt-10 w-full max-w-7xl text-center font-semibold"
      >
        {
          skills.map((skill) => {
            const Icon = skill.component; // Accede al componente del ícono
            return (
              <li class="flex flex-col items-center">
                <div class="bg-zinc-900 rounded-lg p-4 shadow-lg transform hover:scale-110 transition-transform duration-300  flex items-center justify-center">
                  <div class="overflow-hidden flex items-center justify-center h-full w-full">
                    <Icon />
                  </div>
                </div>
                <span class="mt-2 text-sm text-white">{skill.name}</span>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>
