---
import Layout from "../layouts/Layout.astro";
import Carnet from "../components/ui/Carnet.astro";
---

<Layout title="igmardones">
  <main>
    <h1
      class="text-white font-bold text-4xl sm:text-6xl lg:text-8xl text-center mt-16 sm:mt-24"
    >
      Ignacio Mardones Rivera
    </h1>
    <Carnet />
  </main>
</Layout>
