---
// Footer.astro
---

<footer class="py-5 text-center">
  <div
    class="font-secondary px-5 text-sm w-full sm:w-3/4 md:w-2/4 lg:w-auto mx-auto"
  >
    <span class="text-lg text-gray-300 text-center block"
      >© Una creación de
      <a href="https://igmardones.cl/" class="font-bold"> igmardones. </a>
    </span>
    <span class="text-gray-300 text-md font-semibold">
      Todos los derechos reservados.
    </span>
  </div>
</footer>
