---
import Mail from "../icons/redes/Mail.astro";
import Linkedin from "../icons/redes/Linkedin.astro";
import Github from "../icons/redes/Github.astro";
---

<div class="flex justify-center gap-2">
  <a
    href="mailto:ignaciomardonesrivera@gmail.com"
    target="_blank"
    rel="noopener noreferrer"
    class="transition-transform transform hover:scale-110"
  >
    <Mail class="size-14 text-white" />
  </a>
  <a
    href="https://www.linkedin.com/in/ignaciomardonesr"
    target="_blank"
    rel="noopener noreferrer"
    class="transition-transform transform hover:scale-110"
  >
    <Linkedin class="size-14 text-white" />
  </a>
  <a
    href="https://github.com/igmardones"
    target="_blank"
    rel="noopener noreferrer"
    class="transition-transform transform hover:scale-110"
  >
    <Github class="size-14 text-white" />
  </a>
</div>
